
header{


}



nav {

}

body {


}

main {


}

.snippet-box{
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid black;
  }

  .snippet-box-text {
    font-size: 26px;
    color: #f6f6ef;
    background-color: #800080;
  }

  .snippet.box-code{


  }


footer {
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid black;
  }
