
:root{
  --background-color:rgb(51, 57, 62);
  --purple-text:#eb11eb;
}

/*David*/
h1 {
  color:var(--purple-text);
  text-align: center; 

}


/*David*/
nav {
  text-align: center;
  color: white;

}

/*Josh*/
body {
  background-color:var(--background-color);

}

/*Josh*/
main {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding:20px;
  justify-content: space-between;
}

/*Joel*/
.snippet-box{
    width: 25%;
    height: 200px;
    text-align: center;
    border: 15px solid black;
  }

/*Joel*/
  .snippet-box header{
    color:var(--purple-text);
  }


/*Josh*/
  .snippet-box-text {
    font-size: 26px;
    color: #f6f6ef;
    background-color: var(--purple-text);
  }

  /*Josh*/
  .snippet.box-code{


  }

/*David*/
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color:var(--background-color);
    color:rgb(241, 7, 241);
  }
